{% set patch_table = {
    'Ubuntu': {
      'required': True,
      'patchfile': 'open-vm-tools_ubuntu.patch',
      'hash': 'md5:099045c80c38636ae277d43b604d3e69'
    }
} %}

{% if grains['os'] in patch_table %}
    {% set patch = patch_table[grains['os']] %}
{% endif %}
