{% set patch_table = {
    'Ubuntu': {
      'required': True,
      'patchfile': 'open-vm-tools_ubuntu.patch',
      'hash-14.10': 'md5:099045c80c38636ae277d43b604d3e69',
      'hash-15.04': 'md5:664790c91a1758db347bf5aaaacb1566',
    }
} %}

{% if grains['os'] in patch_table %}
    {% set patch = patch_table[grains['os']] %}
{% endif %}
