{% set patch_table = {
    'Debian': {
      'required': True,
      'hash': 'md5:eecce6608cc6edca91127116d0690775'
    },
    'Ubuntu': {
      'required': True,
      'hash': 'md5:eecce6608cc6edca91127116d0690775'
    },
} %}

{% if grains['os'] in patch_table %}
    {% set patch = patch_table[grains['os']] %}
{% endif %}
